.fondo{
	background-color: azure;
}
h1 {
	text-align:center;
}
.p1{
	margin-left: 100px;
	font-size: 14pt;
	color: aqua;
}
.p2{
margin-left: 50px;
	font-size: 24pt;
	color: green;
}
.p3{
	margin-left: 150px;
	font-size: 10pt;
	color:darkred;
	tex-align: center;
}
.li1{
	font:sans-serif;
}
.li2{
	font-family: verdana;
}
